body {
    background: url("/images/newback.png") repeat;
    background-size:32px 32px;
    color: #fff;
    font-size: 150%;
    text-align: center;
    margin: 0;
}
iframe {
    width: 100%;
}
nav {
    background-color: #0c0;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}
nav > ul {
    list-style: none;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
nav > li {
    display: block;
    flex: 1 1 auto;
    list-style-type: none;
}
li > a {
    color: #fff;
}
img {
    background-color: #999;
    width: 10%;
}
#content {
    width: 50%;
    background-color: #999;
    margin: 0 23%;
    padding: 0 2%;
}
figure {
    background-color: #888;
}
h1, h2, h3, h4, h5, h6 {
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.full {
    width: 100%;
}
p {
    text-align: left;
    text-indent: 2em;
}
header > p {
    text-align: center;
    text-indent: 0;
}
footer {
    background-color: #0c0;
}
footer > a {
    width: 10%;
    background-color: transparent;
}
a > img {
    background-color: transparent;
    width: auto;
    height: 1.5em;
}
footer > p {
    text-indent: 0;
    text-align: center;
}
a {
    text-decoration: none;
}
.benefits_1 {
    background-color: #ddd;
    font-size:medium;
}
.benefits_2 {
    background-color: #ccc;
    font-size:medium;
}
ul {
    list-style: none;
}
#cnews {
    width: 50%;
    height: auto;
}
header {
    margin-top: 3em;
}
.mediaButton {
    width: 10%;
    height: auto;
}
@media (max-width: 500px) {
    #content {
        width: 90%;
        margin: 3%;
    }
    header {
        margin-top: 10em;
    }
    nav > ul {
        display: block;
    }
}
@media (min-width: 501px) and (max-width: 800px) {
    #content {
        width: 66%;
        margin: 15%;
    }
    header {
        margin-top: 10em;
    }
    nav > ul {
        display: block;
    }
}
